<div class="container">
  <div class="row">

    <h2>Add Patron</h2>

    <form action="/add-patron" method="post">

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" class="form-control">
      </div>

      <button type="submit">Add</button>

    </form>
  </div>
</div>
