<!-- GET /add-brand -->
    <h2>Add Shoe Brand</h2>

    <form action="/add-brand" method="post">

      <div class="form-group">
        <label for="brand_name">Brand</label>
        <input id="brand_name" name="brand_name" type="text" class="form-control">
      </div>

      <button type="submit" id="submit">Add</button>

    </form>

<h3 class="clickable"><a href="/">Homepage</a></h3>
<h3 class="clickable"><a href="/all-shoes">All Brands</a></h3>

