
<div class="container">
  <div class="row">

    <h2>Add Store</h2>

    <form action="/add-store" method="post">

      <div class="form-group">
        <label for="store_name">Name</label>
        <input id="store_name" name="store_name" type="text" class="form-control">
      </div>

      <button type="submit" id="submit">Add</button>

    </form>



